*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

@keyframes slideright {
    from {
        background-position: 7000%;
    } to {
        background-position: 0%;
    }
}

#desert{
    background-image: url(./images/t-rex-background.png);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    animation: slideright 600s infinite linear;
}

.dino{
    background-image: url(./images/t-rex.png);
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    margin: 5px;
}

.obstacle{
    background-image: url(./images/cactus.png);
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}